<launch>
  <!-- Launches all the nodes at the same time hence prevents initial drift -->
  <node pkg="syn" type="vo" name="vo" output="screen">
  </node>

  <node pkg="syn" type="imu" name="imu" output="screen"></node>
  <node pkg="syn" type="q2p" name="q2p" output="screen">
  </node>

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
  </node>
</launch>
